#  resfs/.gitignore
#  SPDX-License-Identifier: MIT
#  Copyright (c) 2026 Andrei Kovalenko

*.o
*.a
*.so
*.log
*.tmp
*.img
*.iso
*.out
*.gch
*.img
test.c
notes.md
build/
dist/
.vscode/
.obsidian/
.idea/
.DS_Store
export
import
mkfs
recover
snap
verify
visualize
local.mk